apiVersion: v1
kind: Service
metadata:
  name: school-timetable
  labels:
    app: school-timetable
spec:
  type: ClusterIP
  selector:
    app: school-timetable
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
